<h1>Notes#index</h1>
<p>Find me in app/views/notes/index.html.erb</p>
<% @notes.each do |note| %>
    <%= link_to 'Show Note', note_path(note) %>
    <% end %>
    <%= link_to 'New Note', new_note_path %>